<!DOCTYPE html>
<html>
<head>
  <title>A New Figure</title>
</head>
<body>
  <h1>Create a New Figure</h1>
  <form action="/figures" method="POST">
    <p>Name:<input type="text" name="figure[name]" id="figure_name"></p> 
    
    <p>Title:</p>
    <p> - Choose from an Existing Title </p>
    <% Title.all.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"> <%= title.name %> </input>
    <%end%>
    <p> - Create a New Title </p> 
    <input type="text" name="title[name]" id="new_title">

    <p>Landmark: </p>
    <p> - Choose from an Existing Landmark </p>
    <% Landmark.all.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"> <%= landmark.name %> </input>
    <%end%>
    <p> - Create a New Landmark </p> 
    <input type="text" name="landmark[name]" id="new_landmark">
    <br></br>
    <input type="submit" value="Create New Figure">
  </form>

</body>
</html>